.iframe {
    display: block;
    margin: auto;
    width: 100%;
    text-align: center;
    height: 590px;
}


.iletisimİnfo{
    color: rgb(183, 183, 183);
    font-size: 19px;
}

.sagDiv {
    width: 100%;
    margin: auto;
    /* height: 590px; */
    margin-bottom: 30px;

}

.solDiv {
    min-width: 360px;
    width: 100%;
    margin: auto;
    border: 1px solid rgba(194, 233, 237, 0.593);

}

.sagDiv h3 {
    text-align: left;
    font-weight: 200;
    color: white;
    letter-spacing: 1px;
}

.sagDiv h5 {
    display: block;

    text-align: left;
    color: white;
margin-top: 50px;
}


.sagDiv  {
    font-size: 30px;
    color: rgb(255, 227, 174);
 
}