
<style>
    a{
        color: black;
    }
</style>
<div class="adminnav">
    <div class="bottomNav">
      <a href="/admin/users">
        <i class="bi bi-file-earmark-plus-fill" style="display: block;"></i>
        <span>Eser</span>
        <span>Ekle</span>
    </a>
    </div>
    <div class="bottomNav">
        <a href="/admin/IAdd">
        <i class="bi bi-person-fill-add" style="display: block;"></i>
        <span>Benim</span><span>Eklediklerim</span>
    </a>

    </div>
    <div class="bottomNav">
        <a href="/admin/endAdd">
        <i class="bi bi-align-end" style="display: block;"></i>
        <span>Son</span>
        <span>Eklenenler</span>
    </a>
    </div>
    <div class="bottomNav">
        <a href="/admin/qrmanagement">
        <i class="bi bi-qr-code" style="display: block;"></i>
        <span>QR</span>
        <span>Dağıtım</span>
    </a>
    </div>
   
</div>