<footer class="foter bg-dark text-center text-white">
  <!-- Grid container -->
  <div class="container p-4 pb-0">
    <!-- Section: Social media -->
    <section class="mb-4">
      <!-- Facebook -->
      <a class="btn btn-outline-light btn-floating m-1" href="https://www.facebook.com/profile.php?id=61552968722600&locale=tr_TR" target="_blank"  role="button"
        ><i class="fab fa-facebook-f"></i
      ></a>

      <!-- Twitter -->
      <a class="btn btn-outline-light btn-floating m-1" href="https://twitter.com/tarihi_yazilar" target="_blank" role="button"
        ><i class="fab fa-twitter"></i
      ></a>

  

      <!-- Instagram -->
      <a class="btn btn-outline-light btn-floating m-1" target="_blank" href="https://www.instagram.com/tarihi_yazilar/" role="button"
        ><i class="fab fa-instagram"></i
      ></a>

      <!-- Linkedin -->
      <a class="btn btn-outline-light btn-floating m-1" href="https://www.linkedin.com/in/tarihi-yaz%C4%B1lar-2b9829299/" target="_blank" role="button"
        ><i class="fab fa-linkedin-in"></i
      ></a>

      <!-- Github -->
      <a class="btn btn-outline-light btn-floating m-1" href="https://github.com/tarihiyazilar" target="_blank"  role="button"
        ><i class="fab fa-github"></i
      ></a>
    </section>
    <!-- Section: Social media -->
  </div>
  <!-- Grid container -->

  <!-- Copyright -->
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    © 2023 Developer:
    <a class="text-white" href="#">info@tarihiyazilar.com</a>
  </div>
  <!-- Copyright -->
</footer>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>

<script src="/js/index.js"></script>

<script src="/js/headerFooter.js"></script>

<script src="/js/liste.js"></script>
<script src="/js/hakkimizda.js"></script>

<script src="/js/kayitGiris.js"></script>

<script src="/js/haberekle.js"></script>



</body>
</html>