<%- include('../Particals/header.ejs') %>
<%- include('../Particals/adminNav.ejs') %>


<div class="continer">

    <div id="PushDiv">
        <form action="/admin/users" method="POST" enctype="multipart/form-data">

       
<div class="Altdiv">
    <div class="endDiv">
        <label>Şehir</label>
        <select name="city">
            <option value="Şehir">Şehir</option>
            <option value="istanbul">İstanbul</option>

        </select>

    </div>
    <div class="endDiv">
        <label>İlçe</label>
        <select name="town">
            <option value="İlçe">İlçe</option>
            <option value="fatih">Fatih</option>

        </select>
    </div>
</div>
<div class="Altdiv">
    <div class="endDiv">
        <label>Mahalle ve Detaylı Adres</label>
        <textarea name="adress" id="" cols="30" rows="3"></textarea>
        

    </div>
     <div class="endDiv">
        <label>Eserin Başlığı Adı/İsmi</label>
        <textarea name="esertitle" id="" cols="30" rows="3"></textarea>
    </div>
</div>
<div class="Altdiv">
    <div class="endDiv">
        <label>Türkçe Çevirisi</label>
        <textarea name="esertranslate" id="" cols="30" rows="3"></textarea>
        

    </div>
     <div class="endDiv">
        <label>Eser Hakkında Bilgi</label>
        <textarea name="eserhakkinda" id="" cols="30" rows="3"></textarea>
    </div>
</div>
<div class="Altdiv">
    <div class="endDiv">
        <label>Eserin Fotoğrafı</label>
        <input type="file" name="image" id="" >
        

    </div>
    <div class="endDiv " style="text-align: center;" >
        <label>Bu Eseri Ekleyen</label>
        <p>Hüseyin Yalçın</p>
        
    </div>
</div>

<div class="Altdiv">
    <div class="endDiv " style="text-align: center;" >
      
        <p style="font-size: 14px;">QR KOD Kutusunu İşaretlemeniz Esere QR KOdu Yerleştirdiğiniz anlamına gelir. Eğer QR kodunu Siz yerleştirmediyseniz Lütfen İşaretlemeyin!!!</p>
        
    </div>
     <div class="endDiv">
        <label style="display: block; margin: auto; text-align: center;">QR KOD</label>
        <input style="width: 30px;display: block; margin: auto;" name="active" type="checkbox" >
    </div>
</div>

<div class="Altdiv">

     <div class="endDiv">
    <button type="submit">Ekle</button>   
    </div>
</div>
</form>

    </div>
</div>

    <%- include('../Particals/footer.ejs') %>