<%- include('../Particals/header.ejs') %>
<%- include('../Particals/nav.ejs') %>

<br><br><br><br>
<div class="container">
    <h1 style="text-align: center; word-spacing: 15px;">YAYINA  ALINMADI</h1>
    <p style="text-align: center;">Ekibimiz Tüm Hızıyla Çalışıyor En Kısa Zamanda Yayına Alınacak Yönetici İseniz Admin Sayfasında Park Bölümünden
        Kontrol Edebilirsiniz</p>
    </div>
<br><br><br><br><br><br><br><br><br><br><br><br>
    <%- include('../Particals/footer.ejs') %>