<%- include('../Particals/header.ejs') %>


<button id="draggableDiv"><i class="bi bi-patch-plus-fill"></i></button>
<div id="eklemekutu">
    <button class="eklemebtnleri" id="paragraf">Paragraf</button>
    <button class="eklemebtnleri" id="fotograf">Fotoğraf</button>
    <button class="eklemebtnleri" id="liste">Liste</button>
    <button class="eklemebtnleri" id="pBaslik">Baslık</button>
    <button class="eklemebtnleri" id="fotoekle"> Foto Ekle</button>
    <button class="eklemebtnleri" id="kaydet">Kaydet</button>


</div>

<div id="fotoeklemekutu" class="">

   <form id="uploadForm">
<input type="file" id="resiminput" name="resiminput"  class="d-block m-auto w-75 mt-2">

<button type="button" id="resimEkle" class="d-block m-auto w-75 mt-2">Ekle</button>
<p class="t-center" id="fotodurum"></p>
</form>
</div>


 





    <div id="seceneklerKutusu">
      <div class="secimbutonlari">
        <button>Ekle</button>
        <button class="close" onclick="sill(event) " >Kaldır</button>
        <button id="fotogel" onclick="fotoboxac(event) ">Fotoğraflar</button>

        <button onclick="kapatt(event)" id="seceneklerKutusukapat" style="position: absolute; right: 40px" class="close">
          Kapat
        </button>
      </div>
      <div id="fotografkutusu"></div>

<textarea  onchange="inputekleme(event)" id="inputText" cols="30" rows="4" class="col-12 p-2 fs-5 rounded-3"></textarea>



<div class="cssler col-12 ">
    <button id="varsayilan">Varsayılan</button>
    <button id="yazirenk">Metin Renk 
        <div id="renkler">
        <span onclick="renkBoxF(event)" class="renkBox bg-primary">text-primary</span>
        <span onclick="renkBoxF(event)" class="renkBox bg-secondary">text-secondary</span>
        <span onclick="renkBoxF(event)" class="renkBox bg-success">text-success</span>
        <span onclick="renkBoxF(event)" class="renkBox bg-danger">text-danger</span>
        <span onclick="renkBoxF(event)" class="renkBox bg-warning">text-warning</span>
        <span onclick="renkBoxF(event)" class="renkBox bg-info">text-info</span>
        <span onclick="renkBoxF(event)" class="renkBox bg-light">text-light</span>
        <span onclick="renkBoxF(event)" class="renkBox bg-dark">text-dark</span>
        <span onclick="renkBoxF(event)" class="renkBox bg-white">text-white</span>
      </div></button>
    <button id="genislik">Genişlik
        <div id="gnslkBox">
            <span onclick="gnslkF(event)">genislik-1</span>
            <span onclick="gnslkF(event)">genislik-2</span>
            <span onclick="gnslkF(event)">genislik-3</span>
            <span onclick="gnslkF(event)">genislik-4</span>
        
          </div>
    </button>
    <button id="hazircss">Hazır Stil
        <div id="hazirStilBox"></div>
    </button>
    </div>

<textarea  onchange="classekleme(event)" id="classekleme"  cols="30" rows="2" class="col-12 p-2 fs-5 rounded-3"></textarea>

    </div>


    <div id="box1" class="pb-2" style="border-radius: 0; ">
        <%- include('../Particals/nav.ejs') %>

        <div id="html" class="container">


            <p onclick="etiket(event)" class="genislik-1" >Resimleri ve yazıların üstüne tıklayıp değiştirebilir ve silebilirsiniz Sağ tarafta bulunan + simgesie sayfaya tıklayarak Başlık Yeni fotoğraf ekleyebilirsiniz  </p>
            <img  onclick="etiketimg(event)" class="genislik-1"  src="/custompath/img/Main/default.png" alt="">
    
            <h3  onclick="etiket(event)"  class="genislik-1">
                Üstüme tıkla ve beni değiştir
            </h3>
    
    
    
            <div id="kendinbelirlebox" class="container">
   
        </div>

    </div>


    <div class="container mt-5">
        <div class="row mt-5">
            <h5 class="mt-5 text-light" >Bu kısım Kapak fotoğradır Lütfen Bu kısmı Atlamyın </h5>
            <div class="hbBox col-xl-3 col-lg-3 col-md-4 col-sm-12 ">
                
                <div class="kose">
                    <div class="resimkutu">
                         <img id="kapakfoto" onclick="etiketimg(event)" class="hbBoxImg" src="/custompath/img/Main/default.png" alt="">
                    </div>
                    <p id="kapaktitle" onclick="etiket(event)">BAŞLIK KISMI</p>
                </div>

            </div>
        </div>
    </div>
    <hr>
          
         </div>

           

            <%- include('../Particals/footer.ejs') %>