<%- include('../Particals/header.ejs') %>
<div  id="box1" " >
<%- include('../Particals/nav.ejs') %>

    <div class="container">
        <div class="row mt-5">
            <div class="col-sm-12 col-lg-4">
                <div class="sagDiv rounded-3">
                    <br>
                    <h3 class="mb-5">İletişim Bilgileri</h3>
                    <hr>
                    <div class="container">

                        <h5><i class="bi bi-telephone-inbound-fill"></i> Telefon: <span class="iletisimİnfo">0212 212 2121</span></h5>
                   
                        <h5><i class="bi bi-whatsapp"></i> Whatsaap: <span class="iletisimİnfo">+90 541 728 15 1888</span></h5>
                      
                        <h5><i class="bi bi-envelope-arrow-up-fill"></i> E-Posta:<span class="iletisimİnfo"> info@tarihiyazilar.com</span></h5>


                    </div>
                </div>
            </div>

            <div class="col-sm-12 col-lg-8">
                <div class="solDiv">
                    <iframe class="iframe"
                        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d11900.202444651892!2d26.83237212701417!3d41.78412290029248!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40a75e2ae858c739%3A0xeff814b0fed3fb18!2zWWHEn2PEsWzEsSwgMjI1ODAgWWHEn2PEsWzEsS9Tw7xsb8SfbHUvRWRpcm5l!5e0!3m2!1str!2str!4v1697230363737!5m2!1str!2str"
                         allowfullscreen="" loading="lazy"
                        referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>

            </div>
        </div>

    </div>
    <br><br><br><br><br><br>

</div>

    <br>
    <%- include('../Particals/footer.ejs') %>