<%- include('../Particals/header.ejs') %>

    <div class="container" style="margin-top: 30px;">
        <div class="row">
            <div class="col-12 col-sm-12 col-lg-6"  style="display: flex; align-items: center;">
                <img class="explanationImg" src="/img/Main/mezartas.jpg" alt="">


            </div>
            <div class="col-12 col-sm-12 col-lg-6" style="display: flex; align-items: center;">
             <div>
                <h1 class="hedeflerimiz">Hedeflerimiz</h1>
                <p class="hedeflerimizExplation">Amacımız Türkiye'de bulununan bir çok önemli ama bilinmeyen tarihi
                    eserleri sizlere Bir Telefon Kadar Yakın etmek.
                    Bunların Başında Ülkemizdeki Osmanlı Dönemine Ait Mezar Taşları gelmekte. Üzerinde Eski Türkçe İle
                    Yazılmış Birbirinden Değerli Sözler Bulunmaktadır
                    ama günümüzde Kullanılan bir dil olmadığı için oknamamakta. Tarihimizin önemli Bir Parcası olan bu
                    eserleri Okunabilir Hale getirmeyi Kendimize vazife ettik
                    Geliştirdiğimiz Uygulama sayesinde Eserin Üzerindeki QR kodu okutarak Eserin Üzerinde yazan yazıyı
                    istediğiniz dilde okuyabilirsiniz
                    ve Eserin Hakkında detaylı biligiyede uygulamamızdan Ulaşabilirsiniz Bu sayede başta ülkemizin
                    vatandaşları daha sonra dışarıdan gelen ziyaretçilerimiz olmak üzere
                    Tarihimizi Daha detaylı inceleyebilirsiniz

                </p>

            </div>
            </div>
          

        </div>
    </div>

<hr>
    <div class="container" style="margin-top: 30px;">
        <div class="row">
            <div class="col-12 col-sm-12 col-lg-6 d-flex d-lg-none" style="display: flex; align-items: center;">

                <img class="explanationImg" src="/img/Main/indexörn.png" alt="">
            </div>

            <div class="col-12 col-sm-12 col-lg-6" style="display: flex; align-items: center;">
                <div>
                    <h1 class="mainTitle">Nasıl Kullanılır</h1>

                    <p class="explanation">Telefonunuzda Bulunan Herhangi bir QR kod oyucuyu açarak QR kodu okutun.
                        Yönlendirilen Sayfada Eserin Foğtoğrafı ve Üzerinde Yazan Eski Türkçe Yazıların
                        çevirisi Bulunmaktadır. Alt Kısımda ise Eserin Hakkında Bigi Bulunacaktır

                    </p>
                </div>
            </div>
    
                <div class="col-12 col-sm-12 col-lg-6 d-none d-lg-flex" style="display: flex; align-items: center;">
    
                    <img class="explanationImg" src="/img/Main/indexörn.png" alt="">
                </div>


        </div>
    </div>
    <hr>
<br>

    <div class="container">
        <div class="row">
<div class=" col-sm-12 col-md-6" style="text-align: center;  padding: 0 20px;">
    <h3  class="mvTitle">Misyonumuz</h3>
    <p class="mv">Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium ipsam ullam molestias atque voluptatum tempore nesciunt nam nostrum doloremque architecto.</p>
</div>
<div class=" col-sm-12 col-md-6"  style="text-align: center; padding: 0 20px;">
<h3 class="mvTitle">Vizyonumuz</h3>
<p class="mv">Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium ipsam ullam molestias atque voluptatum tempore nesciunt nam nostrum doloremque architecto.</p>
</div>
        </div>
    </div>

<br><br>




    <%- include('../Particals/footer.ejs') %>